<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul id="navnav">
                <li id="brand">  <a class="navbar-brand" href="{% url 'index' %}">DEBUG</a></li>
                </ul>
                <div class="col-sm-4 col-md-4 ">

                        <form class="navbar-form" role="search" action="{% url 'search' %}">

                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search by language" name="category">

                          </div>

                        </form>
                      </div>

              </nav>
</body>
</html>
