{%extends 'base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if errors%}
<h2>Found {{ errors|length }} errors of searched term {{message}}</h2>
    {% else %}
       <h2> Found 0 errors {{message}}</h2>
    {% endif %}
    </div>

  </div>


{% if errors %}
  {% for error in errors %}
  <div class="container mt-2">
    <div class="row">
      <div class="col- mx-auto p-5" style="background-color:#ffffff; border: 1px solid #e6e6e6;">
        <div class="profile p-4" style="white-space:nowrap">
              <h1> {{message}}</h1>
              <!-- {{error.name}}
              <p><a href="">more details</a></p> -->

        </div>
      </div>
    </div>
{% endfor %}
{% endif %}


{
{% endblock %}
